.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 500px;
  background-color: rgba(32, 32, 32, 0.825);
  width: 300px;
  padding: 10px;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(120%, -52%);
  -webkit-transform: translate(120%, -52%);
  -moz-transform: translate(120%, -52%);
  -ms-transform: translate(120%, -52%);
  -o-transform: translate(120%, -52%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
}
.todo-container__input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 20px;
  border: none;
}
.todo-container__input:focus {
  outline: none;
}

.todo-container__todos {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px 0px;
  padding-right: 12px;
}

.todo-container__todo-item {
  width: 100%;
  background-color: rgba(8, 8, 8, 0.378);
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 12px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  border: none;
  font-size: 0.8rem;
  color: rgb(225, 222, 222);
  font-weight: 500;
}

.button-container2 {
  position: absolute;
  z-index: 9;
  left: 50%;
  bottom: 0%;
  width: fit-content;
  display: flex;
  gap: 20px;
  transform: translate(-50%, 80%);
  -webkit-transform: translate(-50%, 80%);
  -moz-transform: translate(-50%, 80%);
  -ms-transform: translate(-50%, 80%);
  -o-transform: translate(-50%, 80%);
}

.button--delete {
  letter-spacing: -0.5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 20px;
  border: none;
  background-color: rgb(248, 113, 29);
  color: rgb(255, 249, 185);
  font-size: 0.7rem;
  width: 120px;
  font-weight: 800;
  cursor: pointer;
}

.button--order {
  letter-spacing: -0.5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 20px;
  border: none;
  background-color: #deff39;
  color: rgba(41, 101, 2, 0.858);
  font-size: 0.7rem;
  width: 120px;
  font-weight: 800;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #1110108f;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #03020200; 
}
