* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container-cards {
  background-color: var(--soft-grey);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 350px;
  height: fit-content;
}

.container-cards_article {
  padding-top: 15px;
  padding-bottom: 8px;
}

.container-cards_article h3 {
  font-weight: 800;
  font-size: 20px;
  color: var(--off-black);
  margin-left: 15px;
}

.container-cards_article-bottom {
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.container-cards_article-bottom h4 {
  font-weight: 400;
  font-size: 15px;
  color: var(--links);
  margin-left: 15px;
  line-height: 20px;
  cursor: pointer;
}

.container-cards_article-bottom:hover {
  background-color: var(--hover-grey);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.auxiliar-p {
  font-size: 0.5rem;
  position: absolute;
  top: 36px;
}
