.searchbar-container {
  position: relative;
  width: 350px;
}

.searchbar-container svg {
  position: absolute;
  left: 11px;
  top: 11px;
}

.searchbar {
  width: 100%;
  background-color: #eff3f4;
  border: none;
  padding: 15px 40px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 1rem;
}

.searchbar:focus {
  outline: 1px solid var(--links);
  background-color: var(--full-white);
}

.searchbar-container:hover svg {
  stroke: var(--links) !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
svg {
  stroke: var(--off-black);
  transition: 0.2s;
}
