.twitter-card {
  cursor: pointer;
  background-color: var(--soft-grey);
  display: flex;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.twitter-card:hover {
  background-color: var(--hover-grey);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.twitter-card:hover button {
  background-color: var(--off-black-hover);
}

.twitter-card header {
  position: relative;
  display: flex;
  flex: 1;
  gap: 10px;
}

.twitter-card header strong {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--off-black);
}

.twitter-card header strong:hover {
  text-decoration: underline;
}

.twitter-card header span {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-grey);
}

.twitter-card img {
  height: 40px;
  width: 40px;
  border-radius: 360px;
  -webkit-border-radius: 360px;
  -moz-border-radius: 360px;
  -ms-border-radius: 360px;
  -o-border-radius: 360px;
}

.twitter-card__info {
  display: flex;
  flex-direction: column;
}

.twitter-card-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--button-color);
  background-color: var(--off-black);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  padding: 8px 15px;
}

.twitter-card-button:hover {
  background-color: var(--off-black-hover);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.twitter-card header strong svg {
  width: 15px;
  position: absolute;
  margin-top: 3.4px;
  margin-left: 3px;
  stroke: var(--links);
}

@media (width <= 375px) {
  .twitter-card {
    width: 340px;
  }
}

@media (width <= 320px) {
  .twitter-card {
    width: 295px;
  }
}

.is-following {
  background-color: var(--soft-grey);
  border: 1px solid rgba(128, 128, 128, 0.436);
  color: var(--off-black);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.twitter-card__stop-follow {
  display: none;
}

.is-following-card:hover button {
  background-color: #f0dbdd;
  border: 1px solid #e6cbce;
  color: #f43e4a;
  transition: 0.2s;
}

.is-following-card:hover .twitter-card__stop-follow {
  display: block;
  width: 65px;
}

.is-following-card:hover .effect {
  display: none;
}
